body {
    color: #777;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* CONTACT PAGE */

.employeeCard img{
    margin: 10px;
}

/* TECHNOLOGY PAGE */

.noLinkDecoration {
    text-decoration: none;
    color: #777;
    display: block;
    padding: 5px;
}

    .noLinkDecoration:hover {
        text-decoration: none;
        background-color: #d4d4d4;
        color: #777;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .noLinkDecoration:focus,
    .noLinkDecoration:active {
        text-decoration: none;
        color: #777;
        border-left: 2px solid #841d62;
    }

.noListStyle {
    list-style: none;
    padding-left: 20px;
    color: #777;
}

.noListStyleTechnology a,
.noListStyleTechnology a:focus,
.noListStyleTechnology a:hover {
    text-decoration: none;
    color: #777;
}

.noListStyleTechnology,
.noListStyleTechnology:focus,
.noListStyleTechnology:hover {
    text-decoration: none;
    color: #777;
}

.activeModel {
    background-color: #d4d4d4;
    color: #777;
    border-left: 2px solid #841d62;
}

/* MENU */
#menuLogo {
    display:block;
    height:100px;
    width:220px;
    margin:10px auto;
}

.navbar {
    margin-bottom: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align:top;
}

.navbar .navbar-collapse {
    text-align:center;
    height: 90px;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a.active {
    color: #000000;
    border-bottom: 2px solid #841d62;
}

.transparent-menu {
    position: absolute;
    background-color: rgba(248,248,248, 0.3);
    border: 0;
    z-index: 1000;
    width: 100%;
}

.productBox {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.productBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.productBox h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    ul.navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media (max-width: 991px) {
    #menuLogo {
        content: url("../images/BallingMaskinerLogoSmall.png");
        height: 45px;
        margin-top: 3px;
        width: unset;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

/* CHANGE BURGER MENU TRIGGER POINT*/

@media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }




.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }

#myCarousel.carousel.slide {
    height: 500px;
}


/* FOOTER */

.footer {
    background-color: #d4d4d4;
    width: 100%;
}

.site {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

.site-content {
    flex: 1 0 auto;
    min-height: 100%;
}

.bottomfooter {
  display: block;
  height: 50px;
  background-color: #eee;
  text-align: center;
  color: #000;
}

.bottomfooter p{
  padding-top:15px;
}

.gly-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gly-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    width: 100%;
    height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}