<div id="aboutContent" class="container" ng-controller="aboutController">
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-6">
            <h1 style="padding-top: 20px; padding-bottom: 20px;"> Om os</h1>
            <p>
                <b>Balling Maskiner</b> er en ung virksomhed som er beliggende i Kolding. Balling Maskiner blev etableret i august 2009, men har over 25 års erfaring inden for salg til maskin- & værktøjs-branchen.
            </p>
            <p>
                En virksomhed med meget lave driftsomkostninger, der kommer kunden til gode i form af kvalitet til de rette priser. Vi er eneforhandler af samtlige kvalitets produkter i Danmark, som kendetegnes ved kvalitet, præcision og driftsikkerhed. Det være sig indenfor produktionsmaskiner og værktøjsmaskiner, samt tilbehør.
            </p>
            <p>
                Hos os er kunden altid i fokus og vi sætter en stor ære i, at kunne hjælpe lige netop jer med kvalitetsløsninger, for derigennem at sikre jer bedst mulig indtjening.
            </p>
            <p>
                Balling Maskiner ansatte pr. 2/1 2014 Carsten Eskildsen til at varetage alle opgaver inden for reparation og servicering af vores kunders maskinparker.
                Ny tiltag i 2016. Vi har pr. 1. august ansat Frank Ivanhoe Nielsen til at varetage salg på Sjælland. Derudover vil vores showroom på omkring 300 m2 stå klar sidst på året.
            </p>
        </div>
        <div class="col-md-6" style="margin-top:25px;">
            <img style="padding-top: 20px; padding-bottom: 20px;" class="img-responsive" src="app/images/v33i.jpg" />
        </div>
    </div>
</div>