<div id="serviceContent" class="container" ng-controller="serviceController">
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-6" style="padding-top: 20px; margin-top: 20px;">
            <img style="padding-bottom: 20px; width: 500px" src="app/images/service_1.png" />
        </div>
        <div class="col-md-6">
            <h1 style="padding-top: 20px; padding-bottom: 20px;"> Service og vedligehold af produktionsmaskiner</h1>
            <p>
                Der stilles i dag store krav til effektivitet og kvalitet på produktionsudstyr, så derfor tilbyder
                vi service og vedligehold ifølge maskinleverandører og egne erfaringer på området.
            </p>
            <p>
                Moderne maskiner og produktionsudstyr er meget komplekse og kræver indsigt i både
                mekanik, hydraulik, pneumatik, elteknik og styring af disse. Der kræves ikke mindst
                indsigt, men også erfaring for at kunne fejlfinde ved nedbrud på udstyr.
            </p>
            <p>
                Fejlfinding er derfor oftest en opgave der kræver en tekniker, som hurtigt kan finde fejlen og
                bestille de rigtige reservedele, så produktionsudstyret hurtigt kan producere igen.
            </p>
            <p>
                Da maskinstop oftest er dyrere end planlagt driftsstop tilbyder vi også planlagt service hvor
                reservedele kan bestilles inden aftalte besøg (dette gælder dog kun for maskiner som vi forhandler).
            </p>
            <p>
                Hvis det er udstyr / maskiner som vi ikke har forhandling af tilbyder vi en tilstandsrapport som kan
                belyse udstyrets / maskinens tilstand og give nogle fact om hvilke
                Reparationer og service opgaver som skal udbedres for at bringe maskinen up to date.
            </p>
            <p>
                Serviceaftaler kan tilbydes så maskiner opnår bedst mulig driftsikkerhed med forebyggende
                vedligehold (som oftest årligt eftersyn eller efter aftale). I de fleste tilfælde omfatter et årligt eftersyn:
            </p>
            <ul>
                <li>Nye filtre</li>
                <li>nyt olie</li>
                <li>backup batterier</li>
                <li>kontrol af smøresystem</li>
                <li>vurdering af bevægelige dele</li>
                <li>føringer</li>
                <li>ledeskruer</li>
                <li>køling</li>
                <li>køling elektronik</li>
                <li>sikkerhedsudstyr</li>
            </ul>
            <p>
                Dette vil typisk omfatte et maskinstop på ca 1,5 dag afhængigt af maskinens rengøringstilstand.
            </p>
</div>
    </div>
</div>