<div class="container" ng-controller="technologyController">
    <div class="row">
        <div class="col-md-3" style="padding-top:18px">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <h2 style="margin:0; color:#777">Brands</h2>
                </div>
                <div class="panel-body">
                    <div ng-repeat="teknologi in teknologier">
                        <h4 style="margin-top:0; margin-bottom:15px" class="noListStyleTechnology">
                            <i class="glyphicon glyphicon-chevron-right" ng-class="{ 'gly-rotate-90': showbrand === $index}" style="font-size:12px;"></i><a href="" ng-click="showBrands($index)"> {{teknologi.name}}</a>
                        </h4>
                        <div ng-show="showbrand === $index">
                            <ul class="noListStyle" ng-repeat="brand in teknologi.brands">
                                <li>
                                <a href="" class="noLinkDecoration" ng-click="showModels($index)"><i class="glyphicon glyphicon-chevron-right" ng-class="{ 'gly-rotate-90': showmodel === $index}" style="font-size:10px;"></i> {{brand.name}}</a>
                                    <div ng-show="showmodel === $index">
                                        <ul class="noListStyle" ng-repeat="model in brand.models">
                                            <li>
                                                <a href="" class="noLinkDecoration" ng-class="{ 'activeModel': selectedModel === $index }" ng-click="chosenModel(model, $index)">{{model.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding-top:25px">
            <div ng-if="modelToRender">
                <div class="col-lg-9 col-md-12">
                    <div class="thumbnail">
                        <img src="{{modelToRender.path}}" />
                        <div class="caption">
                            <h3>{{modelToRender.name}}</h3>
                            <div ng-bind-html="trustedDescription"></div>
                            <a href="" class="btn btn-sm btn-primary">Mere info</a>
                            <a href="" class="btn btn-sm btn-default">Hent brochure</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>